body {
  background: radial-gradient(
    circle at 7.5% 50%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93%
  );

  font-family: "Tangerine", cursive;
  font-size: 24px;
}

header {
  border-bottom: 1px solid #f48994;
  padding: 0 0 20px 0;
}
main {
  padding: 20px;
}
p strong {
  font-weight: bolder;
  color: #f06371;
}
a {
  color: #a176c2;
}
footer {
  border-top: 1px solid #f48994;
  color: rgba(0, 0, 0, 0.6);
  font-size: 22px;
  padding: 20px 0;
  text-align: center;
}
.weather-app {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba (65 50 100 0.08);
}
.search-form-input {
  background-color: #c0e6d5;
  border: none;
  border-radius: 25px;

  font-size: 20px;
  font-family: cursive;
  width: 75%;
  padding: 20px;
}
.search-form-button {
  background-color: #f48994;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  font-family: cursive;
  padding: 20px;
}

.weather-app-info {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.weather-app-city {
  font-size: 56px;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-temperature-icon {
  font-size: 62px;
  padding-top: 15px;
}
.weather-app-temperature-value {
  font-size: 96px;
  font-weight: 900;
  padding-left: 10px;
}
.weather-app-temperature-unit {
  font-size: 36px;
  padding-top: 40px;
  padding-left: 10px;
}
.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}
.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}
.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}
